<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="tests" verbose="2" annotations="JDK" name="Tests">
    <listeners>
        <listener class-name="com.orangehrmlive.Listeners.Listeners"/>
    </listeners>
    <test name="testng XML/HTML report" preserve-order="true" >
        <classes>
            <class name="com.orangehrmlive.Tests.PositiveLoginTests" />
            <class name="com.orangehrmlive.Tests.NegativeLoginTests" />
            <class name="com.orangehrmlive.Tests.PIMModuleTests" />
            <class name="com.orangehrmlive.Tests.AdminModuleTests" />
        </classes>
    </test>

</suite>
